*{
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    height: 100%;
    background-color:  hsl(243, 96%, 9%);
    max-width: 1100px;
    margin: 0 auto;
    overflow-x: hidden;
}
.top-bar{
    padding: 0.5rem 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.metric-select{
    min-width: 5%;
}

.image-container{
    background-image: url("/assets/images/bg-today-large.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    height: 15rem;
}

select{
    background-color: hsl(243, 23%, 30%);
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    width: 5rem;
}

.check-mark{
    background-color:hsl(243, 27%, 20%);
}

.question{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.search-container{
    position: relative;
    background-color: hsl(243, 23%, 30%);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 40px;
    
  }
  .search-container input[type="search"] {
    padding: 0rem 0.3rem;
    border: none;    
    font-size: 16px;
    margin: 0.2rem auto;
    width: 96%;
    background-color: hsl(243, 23%, 30%);

  }

  .search-container input[type="search"]:focus{
    outline: none;
  }

  .search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
  }
  .search-container:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
  }

  .searchIcon{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.6rem;
    cursor: pointer;
}

.middle-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-search{
    border-radius: 0.6rem;
    cursor: pointer;
    background-color: hsl(233, 67%, 56%);
    height: 2.3rem;
    width: 10rem;
    
}

.second-half{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    height: 100%;
    flex-direction: row;   
}

.under-sect{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem 0;
}

.fl-tab, .hm-tab, .wind-tab, .pcp-tab{
    color: white;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;

}

.feel-like, .Wind, .Humidity, .Precipitation{
    background-color: hsl(243, 27%, 20%);
    height: 10rem;
    width: 23%;
    border-radius: 0.9rem;
    /* margin: 1rem; */
    
}

.fl-deg, .hm-deg, .wind-deg, .pcp-deg{
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    
}

.right-side{
    flex-direction: column;
    height: 90%;
    width: 32%;
    background-color: hsl(243, 27%, 20%);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.left-side{
    height: 100%;
    width: 65%;
    margin-right: 3%;
}

.under-variables{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fore-casting{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.daily-forecast{
    display: flex;
    margin-left: 0.4rem;
    padding-top: 2rem;
    width: 100%;
}

.fore-text{
    color: white;
 
}

.vari-day{
    background-color: hsl(243, 27%, 20%);
    height: 13rem;
    border-radius: 0.5rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vari-img{
    height: 7rem;
    width: 100%;
}

.ls-img{
    width: 100%;
}

.top-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    padding-bottom: 1rem;
}

.three-pm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: hsl(243, 23%, 30%);
    margin-top: 1.3rem;
    border-radius: 0.9rem;
    color: white;
    height: 4rem;
}

.btleft-side{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left:1rem; 
}

.num-bers{
    height: 0.8rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
}

.vari-day > h3{
    font-size: 1.5rem;
    padding-top: 1.7rem;
}

.left-num{
    padding-left: 0.5rem;
}

.right-num{
    padding-right: 0.5rem;
}

.variable-img{
    height: 100%;
    display: flex;

    width: 100%;
}

.first-img{
    height: 2rem;
    /* padding-right: 15.9rem; */
}

.other-bars{
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
}

.variable-txt > h3{
    padding-right: 1rem;
}

@media screen and (max-width:600px) {

    body{
        min-height: 100%;
        display: block;
        padding: 1.2rem;
    }

    .question > h1{
        font-size: rem;
    }

    .middle-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .search-container, .button-search{
        width: 23rem;
        
    }

    .button-search{
        border-radius: 0.6rem;
    }

    .second-half, .under-variables{
        flex-direction: column;
        
    }

    .left-side, .feel-like, .Wind, .Humidity, .Precipitation{
        width: 100%;
    }

    .under-variables{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    .fore-casting{
        display: grid;
        gap: 0.5rem;
        width: 96%;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 10rem;
    }

    .right-side{
        width: 100%;
        margin-top: 2rem;
    }

    .search-container{
        margin-bottom: 1rem;
    }
}

@media screen and (min-width:768px) {
    body{
        min-height: 100%;
    }

   .middle-bar{
    justify-content: space-evenly;
   }

   .second-half{
    padding: 1rem;
   }

   .feel-like, .Wind, .Humidity, .Precipitation{
    justify-content: space-between; 
   }
   .fl-deg, .hm-deg, .wind-deg, .pcp-deg {
    font-size: 1.4rem;
   }
   .fl-tab, .hm-tab, .wind-tab, .pcp-tab{
    font-size: 0.8rem;
   }

   .daily-forecast{
    display: flex;
    margin-left: 0.4rem;
    padding-top: 2rem;
    width: 100%;
  }

  .left-num{
    padding-left: 0.5rem;
}

.right-num{
    padding-right: 0.5rem;
}
}